
<div class="container">
  <div class="row m-5 text-center">
    
    <div class="fw-bold"><%= ENV['STRING4'] %></div>

    <div class="my-3 text-center">

      <div class="row justify-content-md-center">
        <div class="col-4">
          <input type="text" class="form-control" placeholder="" aria-label="">
        </div>
      </div>

    </div>

    <div class="my-2">
      <a class="btn btn-secondary" href="/pages/three" role="button">
	<%= ENV['STRING5'] %><br>
        <i><%= ENV['STRING8'] %></i>
      </a>
    </div>

  </div>
</div>

<style>
* { 
  zoutline: 1px solid red;
  zoutline-offset: -1px;
}
</style>
